
$vte_font_size: 13px;
$vte-box-border-radius: 2px !default;

/* Bootstrap variables */
$font-family-sans-serif: 'VTEFont', sans-serif;
$font-family-base: $font-family-sans-serif;

/* Dropdowns */
$border-radius-base: 2px !default;
